binds {

// Applications

    Mod+T hotkey-overlay-title="Open Terminal" {
        spawn "ghostty";
    }
    Mod+Space hotkey-overlay-title="Toggle App Launcher" {
        spawn-sh "dms ipc call spotlight toggle";
    }
    Mod+C hotkey-overlay-title="Open Browser" {
        spawn "google-chrome";
    }
    Mod+Z hotkey-overlay-title="Open File Manager" {
        spawn "pcmanfm";
    }

// System actions

    Mod+Alt+L hotkey-overlay-title="Lock Screen" {
        spawn-sh "dms ipc call lock lock";
    }
    Mod+Alt+R hotkey-overlay-title="Restart DMS" allow-when-locked=true {
        spawn-sh "dms restart";
    }

// System Utils

    Mod+O hotkey-overlay-title="Open Overview" repeat=false {
        toggle-overview;
    }
    Mod+Q hotkey-overlay-title="Close Window" repeat=false {
        close-window;
    }
    Mod+Shift+S hotkey-overlay-title="Screenshot" repeat=false {
        spawn-sh "dms screenshot"
    }

// Navigation

    Mod+H hotkey-overlay-title="Focus Column Left" {
        focus-column-left;
    }
    Mod+L hotkey-overlay-title="Focus Column Right" {
        focus-column-right;
    }
    Mod+Shift+H hotkey-overlay-title="Move To Column Left" {
        move-column-left;
    }
    Mod+Shift+L hotkey-overlay-title="Move To Column Right" {
        move-column-right;
    }
    Mod+J hotkey-overlay-title="Focus Column/Workspace Down" {
        focus-window-or-workspace-down;
    }
    Mod+K hotkey-overlay-title="Focus Column/Workspace Up" {
    focus-window-or-workspace-up;
    }
    Mod+Shift+J hotkey-overlay-title="Move To Column/Workspace Down" {
        move-window-down-or-to-workspace-down;
    }
    Mod+Shift+K hotkey-overlay-title="Move To Column/Workspace Up" {
        move-window-up-or-to-workspace-up;
    }

    //Mod+Home hotkey-overlay-title="Focus Column First" { focus-column-first; }
    //Mod+End hotkey-overlay-title="Focus Column Last" { focus-column-last; }
    //Mod+Shift+Home hotkey-overlay-title="Move Column To First" { move-column-to-first; }
    //Mod+Shift+End hotkey-overlay-title="Move Column To Last" { move-column-to-last; }

    // Mod+Shift+Left  { focus-monitor-left; }
    // Mod+Shift+Down  { focus-monitor-down; }
    // Mod+Shift+Up    { focus-monitor-up; }
    // Mod+Shift+Right { focus-monitor-right; }
    // Mod+Shift+H     { focus-monitor-left; }
    // Mod+Shift+J     { focus-monitor-down; }
    // Mod+Shift+K     { focus-monitor-up; }
    // Mod+Shift+L     { focus-monitor-right; }

    // Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    // Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    // Mod+Page_Down      { focus-workspace-down; }
    // Mod+Page_Up        { focus-workspace-up; }
    // Mod+U              { focus-workspace-down; }
    // Mod+I              { focus-workspace-up; }
    // Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    // Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    // Mod+Ctrl+U         { move-column-to-workspace-down; }
    // Mod+Ctrl+I         { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }
    // ...

    // Mod+Shift+Page_Down { move-workspace-down; }
    // Mod+Shift+Page_Up   { move-workspace-up; }
    // Mod+Shift+U         { move-workspace-down; }
    // Mod+Shift+I         { move-workspace-up; }
    Ctrl+Alt+J hotkey-overlay-title="Move Workspace Down" {
        move-workspace-down;
    }
    Ctrl+Alt+K hotkey-overlay-title="Move Workspace Up" {
        move-workspace-up;
    }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft hotkey-overlay-title="Consume Or Expel Window Left" {
        consume-or-expel-window-left;
    }
    Mod+BracketRight hotkey-overlay-title="Consume Or Expel Window Right" {
        consume-or-expel-window-right;
    }

    // Consume one window from the right to the bottom of the focused column.
    //Mod+Comma hotkey-overlay-title="Consume Window Into Column" { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    //Mod+Period hotkey-overlay-title="Consume Window From Column" { expel-window-from-column; }

    //Mod+R hotkey-overlay-title="Switch Preset Column Width" { switch-preset-column-width; }
    // Cycling through the presets in reverse order is also possible.
    // Mod+R { switch-preset-column-width-back; }
    //Mod+Shift+R hotkey-overlay-title="Switch Preset Window Height" { switch-preset-window-height; }
    //Mod+Ctrl+R hotkey-overlay-title="Reset Window Height" { reset-window-height; }
    //Mod+F hotkey-overlay-title="Maximize Column" { maximize-column; }
    Mod+Shift+F hotkey-overlay-title="Fullscreen Window" {
        fullscreen-window;
    }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    // Mod+Ctrl+F hotkey-overlay-title="Expand Column To Available Width" { expand-column-to-available-width; }

    // Mod+C hotkey-overlay-title="Center Column" { center-column; }

    // Center all fully visible columns on screen.
    // Mod+Ctrl+C hotkey-overlay-title="Center Visible Columns" { center-visible-columns; }

    // Finer width adjustments.
    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    // Pixel sizes use logical, or scaled, pixels. I.e. on an output with scale 2.0,
    // set-column-width "100" will make the column occupy 200 physical screen pixels.
    // Mod+Minus hotkey-overlay-title="Set Column Width -%" { set-column-width "-1%"; }
    // Mod+Equal hotkey-overlay-title="Set Column Width +%" { set-column-width "+1%"; }

    // Finer height adjustments when in column with other windows.
    // Mod+Shift+Minus hotkey-overlay-title="Set Window Height -%" { set-window-height "-1%"; }
    // Mod+Shift+Equal hotkey-overlay-title="Set Window Height +%" { set-window-height "+1%"; }

    // Move the focused window between the floating and the tiling layout.
    // Mod+V hotkey-overlay-title="Toggle Window Floating" { toggle-window-floating; }
    // Mod+Shift+V hotkey-overlay-title="Switch Focus Between Floating And Tiling" { switch-focus-between-floating-and-tiling; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    // Mod+W hotkey-overlay-title="Toggle Column Tabbed Display" { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    // Print hotkey-overlay-title="Screenshot" { screenshot; }
    // Ctrl+Print hotkey-overlay-title="Screenshot Screen" { screenshot-screen; }
    // Alt+Print hotkey-overlay-title="Screenshot Window" { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    // Mod+Escape hotkey-overlay-title="Toggle Keyboard Shortcuts Inhibit" allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    // Mod+Shift+E hotkey-overlay-title="Quit Niri" { quit; }
    // Ctrl+Alt+Delete hotkey-overlay-title="Quit Niri" { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    // Mod+Shift+P hotkey-overlay-title="Power Off Monitors" { power-off-monitors; }
}
