binds {

// Applications

    Mod+T hotkey-overlay-title="Open Terminal" {
        spawn "ghostty";
    }
    Mod+Space hotkey-overlay-title="Toggle App Launcher" {
        spawn-sh "dms ipc call spotlight toggle";
    }
    Mod+C hotkey-overlay-title="Open Browser" {
        spawn "google-chrome";
    }
    Mod+Z hotkey-overlay-title="Open File Manager" {
        spawn "pcmanfm";
    }

// System actions

    Mod+Alt+L hotkey-overlay-title="Lock Screen" {
        spawn-sh "dms ipc call lock lock";
    }
    Mod+Alt+R hotkey-overlay-title="Restart DMS" allow-when-locked=true {
        spawn-sh "dms restart";
    }

// System Utils

    Mod+O hotkey-overlay-title="Open Overview" repeat=false {
        toggle-overview;
    }
    Mod+Q hotkey-overlay-title="Close Window" repeat=false {
        close-window;
    }
    Mod+Shift+S hotkey-overlay-title="Screenshot" repeat=false {
        spawn-sh "dms screenshot"
    }

    // Audio Controls
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "increment" "3";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "decrement" "3";
    }
    XF86AudioMute allow-when-locked=true {
        spawn "dms" "ipc" "call" "audio" "mute";
    }

    // Brightness Controls
    XF86MonBrightnessUp allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "increment" "5" "";
    }
    XF86MonBrightnessDown allow-when-locked=true {
       spawn "dms" "ipc" "call" "brightness" "decrement" "5" "";
    }

// Navigation

    Mod+H hotkey-overlay-title="Focus Column Left" {
        focus-column-left;
    }
    Mod+L hotkey-overlay-title="Focus Column Right" {
        focus-column-right;
    }
    Mod+F hotkey-overlay-title="Fullscreen Window" {
        fullscreen-window;
    }
    Mod+Shift+H hotkey-overlay-title="Move To Column Left" {
        move-column-left;
    }
    Mod+Shift+L hotkey-overlay-title="Move To Column Right" {
        move-column-right;
    }
    Mod+J hotkey-overlay-title="Focus Column/Workspace Down" {
        focus-window-or-workspace-down;
    }
    Mod+K hotkey-overlay-title="Focus Column/Workspace Up" {
    focus-window-or-workspace-up;
    }
    Mod+Shift+J hotkey-overlay-title="Move To Column/Workspace Down" {
        move-window-down-or-to-workspace-down;
    }
    Mod+Shift+K hotkey-overlay-title="Move To Column/Workspace Up" {
        move-window-up-or-to-workspace-up;
    }
    Mod+Shift+1 hotkey-overlay-title="Move Window to Workspace 1" {
        move-window-to-workspace 1
    }
    Mod+Shift+2 hotkey-overlay-title="Move Window to Workspace 2" {
        move-window-to-workspace 2
    }
    Mod+Shift+3 hotkey-overlay-title="Move Window to Workspace 3" {
        move-window-to-workspace 3
    }
}
